<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>exemple formation</display-name>
  <description>
       exemple formation servlet et jsp
    </description>
  <filter>
    <filter-name>verifieClient</filter-name>
    <filter-class>mesCommandes.FiltreEntree</filter-class>
  </filter>
  <servlet>
    <servlet-name>entree</servlet-name>
    <servlet-class>mesCommandes.EntreeMagasinDisque</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>acheter</servlet-name>
    <servlet-class>mesCommandes.AfficherLesDisques</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>commander</servlet-name>
    <servlet-class>mesCommandes.CommanderUnDisque</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>enregistre</servlet-name>
    <servlet-class>mesCommandes.EnregistrerCommande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>entree</servlet-name>
    <url-pattern>/servlet/entre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>acheter</servlet-name>
    <url-pattern>/servlet/achat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>commander</servlet-name>
    <url-pattern>/servlet/commande</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>enregistre</servlet-name>
    <url-pattern>/servlet/enregistre</url-pattern>
  </servlet-mapping>
</web-app>